<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>诗词美文</title>
        <meta name="Keywords" content="诗词，小说，美文，经典"/>
        <meta name="Description" content="诗词小说之家为个人文化爱好港湾，提供最新最全面的优美文章，经典词赋，还有大量诱人好看的美文小说。"/>
        <link rel="stylesheet" type="text/css" href="/thinkj/book/Public/Home/css/index.css">
    </head>
    <body>
        <div class="j-nav"></div>
        <div class="j-clear-fix"></div>
        <div class="j-content">
            <div class="j-ad">
                <div class="j-parts new-push">
                    <h1 class="new-floor" name="more-animate" values="上新">上新</h1> 
                    {foreach $artic as $k=>$v}
                    <div class="push-content">
                        <div class="push-head">
                            <h3><a href="{$smarty.const.__MODULE__}/Article/story/file_name/{$v.file_name}">{$v.title}</a></h3><span class="push-author">{$v.author}</span>
                        </div>
                        <a name="data-maxlength 150" href="{$smarty.const.__MODULE__}/Article/story/file_name/{$v.file_name}" target="_blank">{$v.represent}</a>
                    </div>
                    {/foreach}
                </div>
                <div class="new-hr"></div>
                <div class="new-targe">
                    <h5>总裁</h5>
                    <ul class="j-parts">
                        <li><a href="">她是冷氏集团的少女总裁，她清丽绝俗，冷艳妩媚。 他是唐氏企业的现任董事，他完美邪恶，俊魅狂傲。 酒吧相遇，她要橙汁，他却霸道的给她点了杯</a></li>
                        <li><a href="">她是冷氏集团的少女总裁，她清丽绝俗，冷艳妩媚。 他是唐氏企业的现任董事，他完美邪恶，俊魅狂傲。 酒吧相遇，她要橙汁，他却霸道的给她点了杯</a></li>
                        <li><a href="">她是冷氏集团的少女总裁，她清丽绝俗，冷艳妩媚。 他是唐氏企业的现任董事，他完美邪恶，俊魅狂傲。 酒吧相遇，她要橙汁，他却霸道的给她点了杯</a></li>
                        <li><a href="">她是冷氏集团的少女总裁，她清丽绝俗，冷艳妩媚。 他是唐氏企业的现任董事，他完美邪恶，俊魅狂傲。 酒吧相遇，她要橙汁，他却霸道的给她点了杯</a></li>
                        <li><a href="">她是冷氏集团的少女总裁，她清丽绝俗，冷艳妩媚。 他是唐氏企业的现任董事，他完美邪恶，俊魅狂傲。 酒吧相遇，她要橙汁，他却霸道的给她点了杯</a></li>
                    </ul>
                    <h5>穿越</h5>
                    <ul class="j-parts">
                        <li><a href="">被恨心的姐姐害死，冷诗恬穿到相府，皇帝赐婚，嫁给三王爷为妻，身上的秘密揭露之时，却已决心忘却过去，美男环绕，快意江湖。</a></li>
                        <li><a href="">被恨心的姐姐害死，冷诗恬穿到相府，皇帝赐婚，嫁给三王爷为妻，身上的秘密揭露之时，却已决心忘却过去，美男环绕，快意江湖。</a></li>
                        <li><a href="">被恨心的姐姐害死，冷诗恬穿到相府，皇帝赐婚，嫁给三王爷为妻，身上的秘密揭露之时，却已决心忘却过去，美男环绕，快意江湖。</a></li>
                        <li><a href="">被恨心的姐姐害死，冷诗恬穿到相府，皇帝赐婚，嫁给三王爷为妻，身上的秘密揭露之时，却已决心忘却过去，美男环绕，快意江湖。</a></li>
                        <li><a href="">被恨心的姐姐害死，冷诗恬穿到相府，皇帝赐婚，嫁给三王爷为妻，身上的秘密揭露之时，却已决心忘却过去，美男环绕，快意江湖。</a></li>
                    </ul>
                    <h5>武侠</h5>
                    <ul class="j-parts">
                        <li><a href="">相濡以沫，不如相忘于江湖</a></li>
                        <li><a href="">相濡以沫，不如相忘于江湖</a></li>
                        <li><a href="">相濡以沫，不如相忘于江湖</a></li>
                        <li><a href="">相濡以沫，不如相忘于江湖</a></li>
                        <li><a href="">相濡以沫，不如相忘于江湖</a></li>
                    </ul>
                </div>
            </div>
            <div class="m-hr"></div>
            <div class="j-floor">
                <div class="j-part-head">
                    <div class="m-floor" name="more-animate" values="1">1</div><p class="m-head">诗词大全</p>
                </div>
                <ul class="j-parts part-poem">
                    {foreach $poems as $k=>$v}
                    <li><a href="{$smarty.const.__MODULE__}/Pdetail/pdetail_show/p_id/{$v.id}" target="_blank"><span class="m-author">({$v.author})</span><span class="m-title">《{$v.title}》</span></a></li>
                    {/foreach}
                </ul>
            </div>
            <div class="m-hr"></div>
            <div class="j-floor">
                <div class="j-part-head">
                    <div class="m-floor" name="more-animate" values="2">2</div><p class="m-head">成语大全</p>
                </div>
                <ul class="j-parts part-idiom">
                    {foreach $idiom as $k=>$v}
                    <li><a href="{$v.url}" target="_blank"><span class="m-title">{$v.content}</span></a></li>
                    {/foreach}
                </ul>
            </div>
        </div>
        <footer class="j-footer">本网站提供的内容仅用于学习参考。我们不保证内容的正确性。通过使用本站内容随之而来的风险与本站无关。对任何法律问题及风险不承担任何责任。当使用本站时，代表您已接受了本站的使用条款和隐私条款。版权所有，保留一切权利。</footer>
    </body>
</html>
<script type="text/javascript" src="/thinkj/book/Public/Home/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/thinkj/book/Public/Home/js/index.js"></script>