<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>后台管理-login</title>
		<script type="text/javascript" src="../js/index.js"></script>
	</head>
	<body>
		<div>
			<div class="a-login-name"><label class="a-name-lable">用户名：</label><input type="text" class="a-user-name" id="user_name"/></div>
			<div class="a-login-pw"><label class="a-pw-lable">用户名：</label><input type="password" class="a-user-pw" id="user_pw"/></div>
			<input type="button" value="登录" class="a-login-button" onclick="LoginFun()"/>
		</div>
	</body>
</html>