{$name}
<br/>
<!-- {$name|capitalize} -->
{$smarty.now|date_format:'%Y-%m-%d'}
<br/>
{$name1|default:"没有内容"}
<br/>
{$name|escape:"url"}
<br/>
{$name|indent:10:"&nbsp;"}
<br/>
{$name|lower}
<br/>
{$name|cat:"测试添加"}
<br/>
{$name|replace:"is":"**"}
<br/>
{$name|count_characters}
<br/>
{$name|count_paragraphs}
<br/>
{$name|count_sentences}
<br/>
{$name|count_words}
<br/>
{$name|spacify}
<br/>
{$name|spacify:"_"}
<br/>
{$num|string_format:"%.1f"}
<br/>
{$num|string_format:"%d"}
<br/>
{$name|strip:""}
<br/>
{$name|strip:"*"}
<br/>
{$name|strip_tags}
<br/>
{$name|truncate:20:".."}
<br/>
{$name|wordwrap:10:"<br/>"}
